# Define the different types of serving units
serving_units:
  - name: shot
    volume_ml: 44.36  # 1.5 oz shot
  - name: bottle
    volume_ml: 355    # 12 oz beer bottle

# Define drink categories and their container options
drink_categories:
  - name: Spirits
    serving_unit: shot
    container_options:
      - name: 375_ml
        volume_ml: 375
        servings: 8
      - name: fifth
        volume_ml: 750
        servings: 17
      - name: liter
        volume_ml: 1000
        servings: 22
      - name: handle
        volume_ml: 1750
        servings: 39

  - name: Beer
    serving_unit: bottle
    container_options:
      - name: six_pack
        volume_ml: 2130  # 6 * 355ml
        servings: 6
      - name: twelve_pack
        volume_ml: 4260  # 12 * 355ml
        servings: 12
      - name: case
        volume_ml: 8520  # 24 * 355ml
        servings: 24

  - name: Soju
    serving_unit: bottle
    container_options:
      - name: eight_pack
        volume_ml: 3000  # 8 * 375ml
        servings: 8
      - name: twelve_pack
        volume_ml: 4250  # 12 * 355ml
        servings: 12


# Party settings now specify servings per person per category
party_settings:
  num_people: 9
  num_nights: 3
  buffer_percentage: 0.05
  servings_per_person_per_night:
    Spirits: 5.5    # 4 shots per person per night
    Beer: 0     # beers per person per night
    Soju: 0     # soju's per person per night

# Drink preferences with categories
drink_preferences:
  - name: Vodka
    category: Spirits
    votes: 4
    prices:
      375_ml: 12.49
      fifth: 22.99
      liter: 26.99
      handle: 37.99
  
  - name: Tequila
    category: Spirits
    votes: 2
    prices:
      375_ml: 17.99
      fifth: 34.99
      handle: 59.99

  - name: Gin
    category: Spirits
    votes: 3
    prices:
      375_ml: 18.99
      fifth: 26.99
      liter: 33.99
      handle: 46.99

  - name: Whiskey
    category: Spirits
    votes: 4
    prices:
      375_ml: 17.59
      fifth: 25.99
      liter: 36.99
    
  - name: Fireball
    category: Spirits
    votes: 4
    prices:
      375_ml: 8.99
      fifth: 16.99
      liter: 24.00
      handle: 32.99
  
  - name: Jagermeister
    category: Spirits
    votes: 0
    prices:
      375_ml: 14.89
      fifth: 29.99
      liter: 28.89
      handle: 41.89
  
  - name: Blue Moons
    category: Beer
    votes: 0
    prices:
      six_pack: 10.99
      twelve_pack: 20.99
  
  - name: Modelo
    category: Beer
    votes: 0
    prices:
      six_pack: 10.99
      twelve_pack: 14.99
      case: 30.59

  - name: Soju
    category: Soju
    votes: 0
    prices:
      eight_pack: 27.79
      twelve_pack: 35.69
